
body {
    text-align: center;
    background: url("images/darkbg1.jpg");
    background-position-y:154px;
    background-size: 100vw 100vh;
    background-color:rgb(0, 0, 0);
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 0px;
    animation: slide 2.5s;
    margin: 0px 25px 5px 25px;;
    text-decoration: none;
}

footer {
    text-align: center;
    /* position: fixed; */
    bottom: 0;
}

ul.myUL {
display: inline-block;
text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    padding: 0px 0px 0px 0px;
}

header{
    background: black;
}

.button {
    background-color: transparent;
    overflow: hidden;
    padding: 8px 15px;
    transition-duration: 0.4s;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* v changes button size */
    margin: 4px 1px;
}

    /* Change the color of links on hover */
.button:hover {
    background-color: rgb(255, 255, 255);
    border-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

body { 
    animation: fadeIn 5s; 
}

@keyframes fadeIn 
{ 
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide
{
    0% { margin: 0px 0px 5px 0px; }
    100% { margin: 0px 25px 5px 25px; }
}

.topnav{
    margin:0;
    background-color:rgb(0, 0, 0);
    padding-top: 25px;
    padding-bottom: 0px;
}

/* make background fill entire page */
html, body {
    margin:0;
    padding:0;
}
h1 {
    margin:0;
    /* height: 5; */
}

#aboutme {
    margin-top: 500px;
} 

#contact {
    margin-top: 3000px;
}

.top {
    position:fixed;
    margin:0;
    background-color:rgb(0, 0, 0);
    padding-top: 25px;
    padding-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

#top-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* v changes button size */
    margin: 4px 1px;
    background-color: black;
    overflow: hidden;
    padding: 8px 15px;
    transition-duration: 0.4s;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: none;
}

#top-button:hover {
    background-color: rgb(255, 255, 255);
    border-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.fadeout {
    transition: opacity 0.5s;
  }

.hidden {
    opacity: 0;
  }

* {
  box-sizing: border-box;
}

.column {
  /* float: left; */
  width: 100%;
  padding: 5px;
  margin-top: 2000px;
}
    
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* implement:  to make the scroll put the element in the middle of the page rather than the top, put an extra <br> so it scrolls to that rather than the text itself
               there's probably better ways to implement this but idk how to so this will do for now lmao */